body {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-family: 'Raleway', sans-serif;
    line-height: 1.6em;
    text-align: justify;
}

header {
    display: flex;
    align-items: center;
    width: 100%;
    height: 3em;
    padding: 2em 0;
    border-bottom: solid;
    border-width: thin;
    border-color: rgb(190, 190, 190);
}

.title {
    width: 100%;
}

#content {
    margin-top: 10vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: space-around;
    width: 80vw;
}

h1 {
    text-align: left;
    font-size: 2.25rem;
    line-height: 2.5rem;
}

h2 {
    font-size: 1.6rem;
    margin-bottom: 0.4rem;
}

.navbar {
    width: 100%;
}
.navbar a {
    color: inherit;
    text-decoration: inherit;
}
.navbar > ul {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width:100%;
    padding: 0;
}
.navbar li {
    padding: 1em 0;
    text-align: center;
    display: block;
    transition-duration: 0.5s;
}
.navbar li:hover {
    cursor: pointer;
    color: grey;
}

.banner {
    width: 100%;
    height: 450px;
    margin-bottom: 2em;
    object-fit: cover;
}

main {
    margin: 50px 0;
}
main h2 {
    text-align: center;
}
main p {
    margin-left: auto;
    margin-right: auto;
    width: 100%;
}

footer {
    display: flex;
    height: 20vh;
    padding-top: 2em;
}
footer div {
    margin: 0 5em 0 0;
}

.page {
    animation: fadeIn 2s;
}
@keyframes fadeIn {
    0% {
      opacity: 0.4;
    }
    50% {
        opacity: 0.8;
    }
    100% {
      opacity: 1;
    }
}

/* ABOUT PAGE */
    .about {
        display: flex;
        flex-direction: column;
        align-items: center;
    }
    .about-barista,
    .about-team {
        display: flex;
        justify-content: space-between;
        align-items: center;
    }
    .about-barista {
        flex-direction: row;
        margin-bottom: 30px;
    }
    .about-team {
        flex-direction: row-reverse;
    }
    .about-picture {
        width: 50vw;
        height: 60vh;
        object-fit: cover;
    }
    .barista-picture {
        object-position: 50 0;
    }
    .about-team-text,
    .about-barista-text {
        margin: 30px;
    }

/* SHOP PAGE */
    .articles {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        width: 80%;
    }
    .article-name {
        font-size: inherit;
        line-height: inherit;
        font-weight: 600;
    }
    .shop-picture {
        max-width: 20vw;
    }

    .page-title {
        text-align: center;
        font-size: 2rem;
    }

/* CONTACT PAGE */
    .contact {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: space-between;
    }
    form {
        width: 20em;
    }
    .label,
    input,
    textarea {
        width: 100%;
        padding: 0;
    }
    .label {
        display: inline-block;
    }
    input {
        height: 1.5rem;
    }
    textarea {
        height: 10em;
    }
    .submit-button {
        height: 2em;
        font-size: inherit;
        font-family: inherit;
        font-weight: 500;
        background-color: rgb(190, 190, 190);
        color: white;
        transition-duration: 0.5s;
        cursor: pointer;
        border: none;
    }
    .submit-button:hover {
        background-color: rgb(154, 172, 182);
    }

/* MENU PAGE */
.menu {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
.menu-section {
    display: flex;
    flex-direction: column;
    align-items: center;
}
.content-div {
    display: flex;
    justify-content: flex-end;
    width: 30vw;
}
.menu-paragraph-prices {
    width: 100%;
    text-align: right;
}
.menu-paragraph-names {
    width: 100%;
}